<ion-tabs>

  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button mode="ios" tab="home">
      <ion-icon color="tertiary" name="apps-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="events">
      <ion-icon color="tertiary" name="calendar-outline"></ion-icon>
      <ion-label>My Events</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="scan">
      <ion-icon color="tertiary" name="scan-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="setting">
      <ion-icon color="tertiary" name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
