<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" color="tertiary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Event Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dark padding-small-horizontal">
    <h1 class="bold">Wedding Reeception</h1>
    <h3 class="tertiary ion-no-padding ion-no-margin">November 12, 2022</h3>
    <h3 class="tertiary ion-no-padding ion-no-margin">Avon, Indiana</h3>
    <h3 class="danger ion-no-padding ion-no-margin">Private Event</h3>
    <div class="tertiary ion-padding-vertical">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
  </div>
  <div class="ion-padding-top ion-text-center">
    <ion-button mode="ios" size="small" color="dark" routerLink="/guest/1" routerDirection="forward">View Guests
      <ion-icon slot="start" name="people-outline"></ion-icon>
    </ion-button>
    <ion-button mode="ios" size="small" color="danger" routerLink="/update-events/1" routerDirection="forward">Edit Event
      <ion-icon slot="start" name="create-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
